*{
  margin: 0;
  padding: 0;
}

.wraper{
  width: 100%
}

body{
  text-align: center;
  font-family: Merriweather,serif;
}

h1{
  margin: 50px auto 0 auto;
  font-size: 90px;
  color: #66BFBF;
  font-family: Sacramento,cursive;
}

h2{
  font-family: Montserrat,sans-serif;
  color: #66BFBF;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  font-family: Montserrat,sans-serif;
  color: #11999E;
}

.first-container{
  position: relative;
  padding-top: 100px;
  width: auto;
  background-color: #E4F9F5
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottam-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.second-container{
  width: auto;
  margin: 0 210px;
}

.image-uchit{
  border: 0;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.hello{
  text-align: left;
}

.intro{
  text-align: left;
}

.objective{
  text-align: left;
  width: 100%;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: auto;
}

.third-container{
  width: auto;
  margin: 50px 200px;
}

.skill-table{
  text-align: left;
}

.forth-container{
  width: auto;
  margin: 50px 200px;
}

.e-table{
  text-align: left;
}

.heading-color{
  color: #11999E;
}

.fifth-container{
  width: auto;
  margin: 50px 200px;
}

.education{
  text-align: left;
  padding-top: 30px;
  margin-left: 347px;
}

.sixth-container{
  width: auto;
  margin: 50px 200px;
  text-align: center;
}

.detail-table{
  margin: 0 260px;
}

a{
  text-decoration: none;
  color: #11999E;
  margin: 10px 20px;
  font-family: Montserrat,sans-serif;
}

a:hover{
  color: #EAF6F6;
}

.seventh-container{
  width: 100%;
  text-align: center;
  background-color: #66BFBF;
  /* height: 100px; */
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat,sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
