body{
  margin: 0;
  color: #40514E;
  text-align: center;
  font-family: Merriweather,serif;
}
h1{
  margin: 50px auto 0 auto;
  font-size: 90px;
  color: #66BFBF;
  font-family: Sacramento,cursive;
}
h2{
  font-family: Montserrat,sans-serif;
  color: #66BFBF;
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: Montserrat,sans-serif;
  color: #11999E;
}
.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
p{
  line-height: 2;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}
.hello{
  text-align: left;
}
.intro{
  text-align: left;
}
.objective{
  text-align: left;
  width: 100%;
}
.image-uchit{
  border: 0;
  height: 200px;
  width: 200px;
  display: inline-block;
}
.middle-container{
  margin: 100px 0;
}
.profile-table{
  margin: auto 350px auto 350px;
}
.bottom-container{
background-color: #66BFBF;
height: 100px;
padding: 50px 0 20px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottam-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skills{
  text-align: center;
}
.skill-row{
  width: 100%;
  margin: 100px auto 100px auto;
  text-align: center;
}
.footer-link{
  color: #11999E;
  margin: 40px;
}
.skill-table{
  margin: auto 250px;
}
.table-first{
  text-align: left;
  width: 700px;
}
.table-second{
  text-align: left;
  width: 700px;
}
.code-image{
  width: 25%;
  margin-right: 100px;
}
.chilli-image{
  width: 25%;
  float: right;
  margin-left: 40px;
}
.exp-table{
  text-align: center;
  margin: auto 350px;
}
.e-table{
  text-align: left;
  color: #11999E;
}
.e-table ul{
  color: black;
}
.education{
  text-align: center;
  color: #11999E;
}
.education-table{
  text-align: center;
  margin: auto 550px;
  width: 100%;
}
.education-table td{
  color: black;
}
.message-table{
  text-align: center;
  margin: auto 450px;
}
.contact-me{
  margin: 20px;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
  color: #11999E;
}
a{
  text-decoration: none;
  color: #11999E;
  margin: 10px 20px;
  font-family: Montserrat,sans-serif;
}
a:hover{
  color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat,sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copy-right{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
